# Normalize line endings; keep binary files untouched
* text=auto

# images & database are binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.avif binary
*.svg text eol=lf
*.db binary
